* {
	margin: 0 auto;
}

.fundo_do_header img {
	width: 100%;
	height: 150px;
}

@media screen and (min-width: 960px){
.conteudo {
	width: 80%;
	margin-left: 10%;
}
}

.galeria_1 img {
	width: 340px;
	height: 320px;
}
}

@media screen and (min-width: 320px){
.fundo_do_header img {
	width: 100%;
	height: 150px;
	position: fixed;
}
}
@media screen and (min-width: 320px){
.galeria img {
	width: 360px;
	height: 360px;
}
}
.fundo_do_footer {
	width: 100%;
	height: 150px;
	background-color: #f20064;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: .9em;
	margin-bottom: auto;
}
.ctrl_footer {
	margin-top: 30px;
}
.titulo_produtos {
	font-size: 1.5em;
	color: #f20064;
	text-align: center;
	margin-bottom: 40px;
	
}
.titulo_produtos_2 {
	font-size: 1.4em;
	color: #f20064;
	text-align: center;
	margin-top: 16px;
}
.ea a{
	text-decoration: none;
	color: white;
}
.produto {
	font-size: 1.2em;
	color: #f20064;
}
.voltar a{
	position: fixed;
	font-size: 1em;
	text-decoration: none;
	margin-left: 20px;
	border: 1px solid #f20064;
	border-radius: 10px;
	color: #f20064;
}
.voltar {
	text-align: left;
}
.voltar a:hover {
	background-color: #f20064;
	color: white;
}
.sub-titulo {
	text-align: center;
	color: #f20064;
}
.tamnho_carrossel img {
	border-radius: 50%;
}
